@media (max-width: 1200px) {
  .hero__title {
    margin-bottom: 16px;
    font-size: 50px;
  }
}

@media (max-width: 992px) {
  .hero {
    padding-top: 130px;
    padding-bottom: 134px;
  }

  .advantages {
    padding-bottom: 59px;
  }

  .advantages__picture {
    gap: 12px;
  }

  .teachers {
    padding-bottom: 28px;
  }

  .advantages__article-descr {
    padding: 93px 12px 16px 0px;
    background-position: 0px 3px;
}

  .teachers__list-item {
    margin-bottom: 21px;
  }

  .course__article {
    min-height: 556px;
  }

  .course__btn {
    padding: 20.5px 55.5px;
  }

  .course__clock {
    top: 13px;
    right: 9px;
  }
}

@media (max-width: 767px) {
  .header {
    padding: 29px 0 27px 0;
  }

  .header__logo {
    margin: 0;
    margin-bottom: 30px;
  }

  .hero {
    padding-top: 77px;
    padding-bottom: 135px;
  }

  .hero__content-img {
    display: none;
  }

  .advantages__picture {
    gap: 0px;
  }

  .advantages {
    padding-bottom: 19px;
  }

  .course__article {
    min-height: 653px;
  }

  .course__content-wrapper {
    padding-right: 22px;
  }

  .course__title-h3 {
    line-height: 130%;
  }

  .course__btn {
    padding: 20.5px 48px;
  }
}

@media (max-width: 575px) {
  .header__nav {
    overflow-x: scroll;
    width: 100%;
  }

  .nav__list {
    flex-wrap: nowrap;
  }

  .advantages__picture {
    display: none;
  }

  .advantages__article-descr {
    padding: 8px 0 22px 125px;
    background-position: 14px 7px;
  }
}

@media (max-width: 372px) {
  .advantages__article-descr {
    padding: 15px 0 15px 110px;
    background-position: 0px center;
  }

  .header {
    padding: 25px 0 25px 0;
  }

  .header__logo {
    margin-bottom: 21px;
  }


  .hero {
    padding-top: 50px;
    padding-bottom: 49px;
  }

  .hero__title {
    margin-bottom: 5px;
    font-size: 30px;
  }

  .hero__descr {
    margin-bottom: 45px;
    font-size: 16px;
    line-height: 130%;
  }

  .hero__btn {
    padding: 20.5px 53px;
    font-size: 16px;
  }

  .advantages__title {
    margin-bottom: 3px;
    font-size: 20px;
    line-height: 130%;
  }

  .advantages {
    padding-top: 50px;
    padding-bottom: 36px;
  }


  .advantages__container-margin {
    margin-bottom: 9px;
  }

  .advantages__article-wrapper {
    gap: 3px;
  }

  .teachers__picture-img {
    max-height: 180px;
    object-fit: cover;
  }

  .teachers {
    padding-top: 48px;
    padding-bottom: 27px;
  }

  .teachers__title {
    margin-bottom: 26px;
    font-size: 20px;
  }

  .course__article {
    min-height: 653px;
  }

  .course__title {
    margin-bottom: 26px;
    font-size: 20px;
  }

  .course {
    padding-top: 47px;
    padding-bottom: 20px;
  }

  .course__btn {
    padding: 20.5px 55.5px;
  }
}

